@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin: 10px;
  float: left;
}

#logo:hover {
  color: red;
  background-color: white;
  text-transform: uppercase;
  font-wight: bold;
}

.nav-item {
  list-style-type: none;
  padding-left: 20px;
  margin: 20px;
  float:left;
}

.center {
  text-align: center;
}

h1,h2,h3 {
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

h4 {
  float:left;
  text-align:left;
  margin-bottom:20px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid AliceBlue;
  padding-top: 10px;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 50%;
}

input, textarea, select, .uniditabl-input {
  display: block;
  margin-left: 50px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 90%;
}

.input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px;
}


